.section-title {
  font-size: 1.5rem;
  color: var(--app-color-headings);
  font-family: $font-family-headings;
  text-transform: uppercase;
  margin: 0 0 1.5rem;

  &:before {
    content: "";
    position: absolute;
    left: -7px;
    top: -7px;
    bottom: -3px;
    aspect-ratio: 1/1;
    background-color: var(--app-color-accent);
    z-index: -1;
  }
}
