@import "styles/settings/__settings";

.sectionTitle {
  color: var(--app-color-headings);
  font-family: $font-family-headings;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: 1em;
  margin: 0;
  position: relative;
  z-index: 0;

  &:before {
    content: "";
    position: absolute;
    right: -15px;
    top: -7px;
    bottom: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--app-color-accent);
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 120px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--app-color-primary);
    z-index: -1;
  }
}

.sectionTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px var(--app-color-border-dark);
  margin-bottom: 2rem;
}
