.layoutContainer {
  display: grid;
  grid-template-columns: 0 minmax(0, 1fr);
  gap: 0;
  transition: 0.5s ease-in-out;
  overflow: clip;
  
  @media screen and (min-width: 1200px){
    grid-template-columns: 300px minmax(0, 1fr);
  }
}

.sideActive {
  grid-template-columns: 100vw minmax(0, 1fr);

  @media screen and (min-width: 420px){
    grid-template-columns: 300px minmax(0, 1fr);
  }

  .layoutInner {
    margin-right: -100vw;

    @media screen and (min-width: 420px){
      margin-right: -300px;
    }
  }
}


.layoutInner {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  transition: 0.5s ease-in-out;
}

.layoutSide {
  color: #fff;
  background-color: var(--app-bg);
  border-right: 1px solid var(--app-color-border-dark);
  overflow: clip;
}
