@font-face {
  font-family: "Shapiro 75";
  src: url("/fonts/dd1cd9ce3fcfd537d79da2bf743f7d9f.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/Inconsolata-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/Inconsolata-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/Inconsolata-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


$font-family-default: Inconsolata, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
$font-family-headings: "Shapiro 75", sans-serif;
